<div class="footer-gradient"></div>
    <div class="section narrow">
      <div class="footer-hr"></div>
      <div class="footer-container">
        <div class="footer-text">
          © {{ dateFormat "2006" now }} <a href="https://cse.google.com/cse?cx=3eac92bcdcb21604e">{{ .Site.Title }}</a>
        </div>
        {{ partial "social-links/social-links.html" . }}
    </div>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MWTWL4S" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
</div>